@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* Google fonts */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Actual code */

* {
    font-family: "JetBrains Mono", monospace;
}

body {
    background-color: black;
    margin: 0 0;
    height: 100%;
}

header {
    background-color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
    width: 100%;
}

#window-name {
    margin-left: 30px;
}

#window-icons {
    margin-right: 15px;
    font-size: 20px;
}

.terminal-line  {
    color: white;
    font-size: 15px;
    padding-left: 25px;
}

#intro {
    padding-top: 20px;
}

#title1 {
    color: green;
    font-size: 30px;
    text-align: center;
}

.folder, .file {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    transition: ease 0.3s;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.folder:hover, .file:hover {
    filter: brightness(70%);
}

.folder-image {
    width: 6rem;
    height: 4.5rem;
}

.file-image {
    height: 4.5rem;
    width: 4.5rem;
}

section {
    margin-left: 50px;
    margin-top: 20px;
}

.jersey {
    font-family: "Jersey 10";
    text-decoration: none;
    text-decoration: transparent;
    width: min-content;
    text-align: center;
    height: 20px;
}

.page {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


#back {
    color: white;
    font-size: 30px;
    position: absolute;
    background-color: rgba(71, 71, 84, 0.367);
    border: 0;
    z-index: 1;
    transition: ease 0.2s;
    top: 40px;
    left: 20px;
    display: none;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 0 0;
    padding-right: 3px;
}

#projects-page, #clients-page {
    display: none;
}

#back:hover {
    cursor: pointer;
    filter: brightness(75%);
}

a {
    text-decoration: none;
}

.popup {
    z-index: 2;
    width: fit-content;
    height: fit-content;
    min-height: 20%;
    color: white;
    text-align: center;
    background-color: black;
    text-align: center;
    border-color: white;
    border-width: 4px;
    border-style: solid;
}

.popup-wrapper {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 4;
}

#blur-layer {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(6px);
    z-index: 1;
    display: none;
}

#bar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: white;
    color: black;
    font-size: 12px;
}

#small-window-icons {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

#author {
    text-align: right;
    margin-right: 40px;
    margin-top: 50px;
    font-size: 20px;
}

#page1 {
    display: flex;
}

.links {
    color: lightblue;
    text-decoration: underline;
    transition: ease 0.3s;
}

.links:hover {
    color: white;
}

li {
    list-style: none;
}

.page {
  display: grid;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0 20px;
}

#text-content {
    margin: 0 10px;
    margin-top: 10px;
}

@media screen and (min-width: 800px){
    .popup {
        max-width: 70%;
    }
}